@{
    ViewData["Title"] = "ApproveOrReject";
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <h5>Approve or Reject leaves of your employee </h5>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-link btn-lg float-right" onclick="location.href='@Url.Action("Index", "Manager")'">Back</button>
        </div>
    </div>
    <hr />
    <table id="leavetable" class="table table-bordered">
        <thead bgcolor="lightblue">
            <tr>
                <th>Leave ID</th>
                <th>BadgeNumber</th>
                <th>EmployeeName</th>
                @*<th>DepartmentName</th>*@
                <th>From Date</th>
                <th>To Date</th>
                <th>No of Leave</th>
                <th>Leave Type</th>
                <th>Status</th>
                <th>Approve/Reject</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (LeaveModel lm in Model)
                {
                    <tr>
                        <td>@lm.ID</td>
                        <td>@lm.BadgeNumber</td>
                        <td>@lm.EmployeeName</td>
                        @*<td>@lm.DepartmentName</td>*@
                        <td>@lm.LeaveFromDate.ToString("dd-MM-yyy")</td>
                        <td>@lm.LeaveToDate.ToString("dd-MM-yyy")</td>
                        <td>@lm.NumberOfLeaves</td>
                        <td>
                            @if (@lm.LeaveType != null)
                            {
                                <select asp-items="@(new SelectList(@lm.LeaveType, "LeaveTypeId", "LeaveTypeName"))"></select>
                            } 
                        </td>
                        <td>@lm.StatusName</td>
                        <td>
                            <button id="btnOK" type="button" class="btn-sm btn-primary" onclick="location.href='@Url.Action("ApproveOrRejectLeave", "Manager", new { id = lm.ID, sCode = 2 })'" @(lm.Status > 1 ? "disabled='disabled'" : "")>ok</button>
                            <button id="btnCancel" type="button" class="btn-sm btn-danger" onclick="location.href='@Url.Action("ApproveOrRejectLeave", "Manager", new { id = lm.ID, sCode = 3 })'" @(lm.Status > 1 ? "disabled='disabled'" : "")>X</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h6>Note: In case of Approved/Rejected Leave action button will be disabled. </h6>
        </div>

    </div>
}

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="aModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <button id="" type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ApproveOrReject", "Manager")'">OK</button>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });
        </script>
    }
}


